<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">


    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driver}"></property>
        <property name="url" value="${jdbc.url}"></property>
        <property name="username" value="${jdbc.username}"></property>
        <property name="password" value="${jdbc.password}"></property>
        <property name="maxActive" value="${jdbc.maxActive}"></property>
        <property name="minIdle" value="${jdbc.minIdle}"></property>
    </bean>
    <bean  class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--数据源-->
        <property name="dataSource" ref="dataSource"></property>

        <!--设置类型别名（包扫描）-->
        <property name="typeAliasesPackage" value="com.pinyougou.pojo"></property>
        <!--设置mybaitis的核心配置文件-->
        <property name="configLocation" value="classpath:mybatis-config.xml"></property>
        <!--设置sql的映射文件-->
        <property name="mapperLocations" value="classpath:mappers/**/*.xml"></property>
    </bean>
    <bean  class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--设置mapper的自动扫描包-->
        <property name="basePackage" value="com.pinyougou.mapper"></property>
    </bean>
    <bean class="tk.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 设置数据访问接口类 -->
        <property name="basePackage" value="com.pinyougou.mapper"/>
    </bean>

    <!--配置事务-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <!--开启事务自动扫描-,且使用cglib子类代理-->
    <tx:annotation-driven proxy-target-class="true"></tx:annotation-driven>

</beans>